:root {
    --font-family: Star Wars, Fantasy;
    --bg-color: #e0cb97; 
    --bg-color-transp: #e0cb9785; 
    --primary-color: #801515;
    --primary-color-transp: #801515d9;
    --texto-header: #fdfdfd;
    --shadow-color: #80151513;
    --highlight-color: #D46A6A
    /* #CAEDFF */
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color-transp);
    color: var(--primary-color);

    min-height: 100vh;
    display: flex; /* alinhamento dos itens na horizontal */
    flex-direction: column; /* alinhamento dos itens na vertical */
    align-items: center; /* alinhamento do conteúdo na horizontal */
    justify-content: center; /* alinhamento do conteúdo na vertical */
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    min-width: 95vw; /*tá ruim... precisa consertar */
    background-color: var(--primary-color-transp);
    --tw-shadow-color: #94a3b8;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
}

button:hover {
    cursor: pointer;
}



header .header-imagem-e-textoLogo {
    display: flex;
    color: var(--texto-header); 


}

header .header-texto-logo {
    padding: 0 0.5rem 0 1.5rem;
    margin-bottom: 0;
    /* opacity: 0; */
    font-size: 1.5rem; /* 14px */
    line-height: 0.90rem; /* 20px */
    text-align: center;
    align-self: center;
    color: var(--texto-header);
    
}

header .img-header {
    /*height: 5rem; /* 80px */
    height: 2rem; /* 48px */
    border-radius: 0.70rem ;    
}

footer {
    display: flex;
    justify-content:center;
    min-width: 95vw; /*tá ruim... precisa consertar*/
    background-color: var(--primary-color-transp);
    --tw-shadow-color: #94a3b8;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
}

footer .footer-imagem-e-textoLogo {
    display: flex;
    color: var(--texto-header);
    
}

footer .img-footer {
    /*height: 5rem; /* 80px */
    height: 3rem; /* 48px */

}

footer .footer-texto-logo {
    padding: 0 0.5rem 0 0.5rem;
    margin-bottom: 0;
    /* opacity: 0; */
    font-size: 0.875rem; /* 14px */
    line-height: 0.90rem; /* 20px */
}

#card-filme .card--titulo-data-hora {
    display: flex;
    align-items: center;
    margin: 0.125rem;
    padding: 0 0.125rem 0 0.125rem;
}

#card-filme .card--titulo-data-hora:hover {
    /* cursor: pointer; */
}

#card-filme .titulo-filme {
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

#card-filme .data-horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem; /* 18px */
    line-height: 0.55rem; 
    font-weight: bold;
    border: solid 0.05rem var(--primary-color-transp);
    border-radius: 0.25rem; 
    padding: 0.25rem; 

}

#card-filme .info-geral {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

#img-filme {
    align-self: center;
    width: 20rem; /* 320px */ /*--> antes: 24rem; /* 384px */
    height: 10rem; /* 160px */ /*antes --> 12rem; /* 192px */
    border-radius: 0.5rem 0.5rem 0 0; /* 8px */;
    margin-top: 0.75rem; /* 12px */
    margin-bottom: 0.75rem; /* 12px */
    border-radius: 0.5rem; /* 8px */
}

#img-filme:hover{
    transform: scale(1.02);
    /* cursor:pointer; */
    transition-duration: 300ms;
}

p {
    margin: 5px;
    text-align: justify;
}

#container-filme {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem; /* 40px */
    justify-content: center;    
    gap: 0.05rem; 
}

#card-filme {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--shadow-color);
    border-radius: 0.75rem; /* 12px */;
    margin: 0.125rem; /* 2px */
    /* margin: 0.5rem; 8px --> fica mais espaçado... verificar*/
    width: 20rem; /* 384px */
    padding-bottom: 0.5rem; /* 8px */
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-color: #94a3b8;
    border-radius: 0.5rem; /* 8px */
    align-content: center;
}

@media (max-width: 500px) {
    #card-filme {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--shadow-color);
        border-radius: 0.75rem; /* 12px */;
        margin: 0.125rem; /* 2px */
        margin: 0.5rem; 
        width: 18rem; /* 384px */
        padding-bottom: 0.5rem; /* 8px */
        justify-content: space-between;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        --tw-shadow-color: #94a3b8;
        border-radius: 0.5rem;
        align-content: center; 
    }

    #img-filme {
        align-self: center;
        width: 17rem; /* 320px */ /*--> antes: 24rem; /* 384px */
        height: 10rem; /* 160px */ /*antes --> 12rem; /* 192px */
        border-radius: 0.5rem 0.5rem 0 0; /* 8px */;
        margin-top: 0.75rem; /* 12px */
        margin-bottom: 0.75rem; /* 12px */
        border-radius: 0.5rem; /* 8px */
    }

    #img-filme:hover{
        transform: none;
    }

    #card-filme .titulo-filme {
        text-align: center;
        align-self: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
}



#card-filme .titulo-filme:hover {
    /* cursor: pointer; */
}

